{% extends 'base.html' %}


{% block content %}

{% verbatim %}

<div id="app">
    
    <form @submit.prevent="createTask">
        <div class="form-group row">
            <div class="col-9">
                <label>Create New Task</label>
                <input class="form-control" v-model="task">
            </div>
            <div class="d-flex flex-column">
                <button class="btn btn-success mt-auto">Create<button>
            </div>
        </div>
    </form>

    <div class="mt-5">
        <div class="card mt-2" 
             v-for="(task, index) in taskList"
             @click="completeTask(task.id, index)":class="{'completed': task.completed}">
            <div class="card-body">
                {{ task.title }}
                <button type="button" class="close float-right" @click.stop="deleteTask(task.id, index)">
                    <span>&times;</span>
                </button>
            </div>
        </div>
    </div>

</div>

{% endverbatim %}

{% endblock %}